# /etc/systemd/system/kreslidlo-app.service

[Unit]
Description=Kreslidlo App
After=network.target

[Service]
ExecStart=/bin/bash /home/drakpi/kreslidlo/bin/start.sh
WorkingDirectory=/home/drakpi/kreslidlo
StandardOutput=inherit
StandardError=inherit
Restart=always
User=drakpi
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target