# /etc/systemd/system/startup-kreslidlo-app.service

[Unit]
Description=Git Pull & Restart Kreslidlo App
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/drakpi/kreslidlo/bin/start.sh
User=drakpi
Type=oneshot

[Install]
WantedBy=multi-user.target